.idea/
PrivateNotes.MVC/bin/
PrivateNotes.MVC/obj/
PrivateNotes.MVC/app.db
PrivateNotes.Models/bin/
PrivateNotes.Models/obj/
PrivateNotes.Data/bin/
PrivateNotes.Data/obj/
PrivateNotes.Services/bin/
PrivateNotes.Services/obj/
PrivateNotes.Contracts/bin/
PrivateNotes.Contracts/obj/